@charset "UTF-8";
/**
 *
 * @authors Benjamin (zuojj.com@gmail.com)
 * @date    2016-09-14 09:24:21
 * @version $Id$
 */

@import "helper/_mixin";

.simple-form {
    margin-bottom: 20px;
    input {
        width: 90%;
        padding-left: 5px;
        font-size: 20px;
        color: #999;
        border-bottom: 1px solid #fff;
        &:focus {
            border-bottom-color: #efefef;
        }
    }
}

.simple-category,
.simple-tags {
    &-dir {
        .title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .ulist {
            li {
                line-height: 20px;
                padding: 5px 0;
                text-indent: 2em;

                a {
                    color: #349ef3;
                }
            }

        }

        .taglist {
            a {
                display: inline-block;
                padding: 2px 10px;
                color: #349ef3;
                border: 1px solid #349ef3;
                margin: 0 4px 7px 0;
                border-radius: 3px;
            }
        }
    }

    &-dlist {
        margin: 20px 0;
        dt {
            font-size: 18px;
        }

        dd {
            position: relative;
            line-height: 20px;
            padding: 5px 0;
            text-indent: 2em;
            &:before {
                @extend %iconfont;
                content: '\e600';
                position: absolute;
                font-size: 20px;
                left: -20px;
                top: 5px;
                color: #999;
            }
            a {
                &:hover {
                    color: #349ef3;
                }
            }
        }
    }
}

.simple-archives {
    &-dlist {
        margin: 20px 0;
        .year {
            font-size: 18px;
        }

        .month {
            font-size: 16px;
            font-weight: bold;
            text-indent: 2em;
        }

        dd {
            position: relative;
            line-height: 20px;
            padding: 5px 0;
            text-indent: 4em;
            &:before {
                @extend %iconfont;
                content: '\e600';
                position: absolute;
                font-size: 20px;
                left: -20px;
                top: 5px;
                color: #999;
            }
            a {
                &:hover {
                    color: #349ef3;
                }
            }
        }
    }
}