@charset "UTF-8";
/**
 *
 * @authors      Benjamin (cuew1987@gmail.com)
 * @link         https://github.com/benjamin-zuo
 * @date         2016-03-11 15:26:52
 * @description  Mixin 混合器&占位符
 */

/* 清除浮动 */
@mixin clearfix () {
    &:before,
    &:after {
        display: table;

        content: '';
    }
    &:after {
        clear: both;
    }
}

%clearfix {
    @include clearfix();
}




/* 溢出隐藏 */
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%ellipsis {
    @include ellipsis();
}


%iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
