@charset "UTF-8";
/**
 * 
 * @authors Benjamin (zuojj.com@gmail.com)
 * @date    2016-09-08 14:13:22
 * @version $Id$
 */

@import "./reset";


#header,
#footer {
    height: 30px;
    line-height: 30px;
    background-color: #efefef;
}

.article {
    width: 1000px;
    margin: 0 auto;
    min-height: 400px;

    &-header {
        h1 {
            text-align: center;
        }

        h4 {
            color: #333;
        }
    }

    &-body {
        min-height: 400px;
    }

    &-footer {
        height: 40px;
        line-height: 40px;
        background-color: #ddd;
    }
}




.index-ulist {
    li {
        line-height: 30px;
        border-bottom: 1px solid #ddd;
    }
}